.tool-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.3rem;
  transition: all 0.1s ease;
}

.tool-button:hover {
  transform: scale(1.05);
}

.tool-button.disabled {
  opacity: 0.5;
  cursor: default;
  transform: none;
}

.tool-button img {
  display: block;
  transition: transform 0.1s;
}

.tool-button:nth-child(1) img {
  width: 1.5rem;
  height: 1.2rem;
  margin-right: -0.2rem;
  margin-left: 0.4rem;
}

.tool-button:nth-child(2) img {
  width: 1.5rem;
  height: 1.2rem;
}

.tool-button:nth-child(4) img {
  width: 1.2rem;
  height: 1.5rem;
}

.tool-button:nth-child(5) img {
  width: 1.2rem;
  height: 1.3rem;
  margin-right: 0.4rem;

}

.menubtn {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease;
}

.menubtn:hover {
  transform: scale(1.05);
}

.menubtn img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: block;
  transition: transform 0.1s;
}

.tools {
  width: 12rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 1.25rem;
  box-sizing: border-box;
  transition: transform 0.2s;
}

@media (max-width: 350rem) {
  .tools {
    transform: translateX(-50%) scale(3);
  }
}

@media (max-width: 250rem) {
  .tools {
    transform: translateX(-50%) scale(2);
  }
}

@media (max-width: 180rem) {
  .tools {
    transform: translateX(-50%) scale(1.5);
  }
}

@media (max-width: 120rem) {
  .tools {
    transform: translateX(-50%) scale(1.2);
    width: 13rem;
    height: 2.2rem;
  }
}

@media (max-width: 100rem) {
  .tools {
    transform: translateX(-50%) scale(1);
  }
}

@media (max-width: 60rem) {
  .tools {
    transform: translateX(-50%) scale(0.9);
  }
}

@media (max-width: 48rem) {
  .tools {
    transform: translateX(-50%) scale(0.8);
  }
}