<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Convertools</title>
</head>
<body>
    <header class="header">
        <a href="/" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="log">
        </a>
        <p class="name">Convertools</p>
        <div class="profi">
            <button class="profile" id="Profile">
                <img src="{% static 'img/profile.png' %}" alt="profilik">
            </button>
        </div>
    </header>
    <div class="tools">
        <img src="{% static 'img/menu_tools.png' %}" alt="tools">
    </div>
    <div class="tools">
        <button class="menu">
            <img src="{% static 'img/menu.png' %}" alt="menu">
        </button>
    </div>
    <div class="code-editor">
        <script src="https://unpkg.com/monaco-editor@0.33.0/min/vs/loader.js"></script>
        <div id="sql-editor" class="codeedit"></div>
    </div>
    <div class="visual-editor">
        <div id="visual"></div>
    </div>
    <script src="{{main_js_path}}"></script>
        <!-- Модальное окно входа -->
    <div id="modal" class="modal" {% if show_login_modal %}style="display: flex;"{% endif %}>
        <div class="modal-content">
            <div class="modal-left">
                <div class="slider-container" id="slider-container">
                    <img src="{% static 'img/img1.png' %}" alt="img1" class="slider-image active">
                    <img src="{% static 'img/img2.png' %}" alt="img2" class="slider-image">
                </div>
                <div class="modal-line"></div>
            </div>
            <div class="modal-right">
                <img src="{% static 'img/close.png' %}" alt="close" id="closeModalBtn" class="close">
                <h2>Вход</h2>
                {% if show_login_modal and messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form id="loginForm" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label for="email" class="email">Почта</label>
                    <input type="email" id="email" name="email" class="email" required>
                    <label for="password" class="password-text">Пароль</label>
                    <input type="password" id="password" name="password" class="password" required>
                    <button type="submit" id="loginSubmit">Войти</button>
                </form>
                <p class="register-text">У вас ещё нет аккаунта?</p>
                <p class="register"><a href="#" id="registerLink">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>
    <!-- Модальное окно регистрации -->
    <div id="registerModal" class="modal" {% if show_register_modal %}style="display: flex;"{% endif %}>
        <div class="modal-content">
            <div class="modal-left">
                <div class="slider-container" id="register-slider-container">
                    <img src="{% static 'img/img1.png' %}" alt="img1" class="slider-image active">
                    <img src="{% static 'img/img2.png' %}" alt="img2" class="slider-image">
                </div>
                <div class="modal-line"></div>
            </div>
            <div class="modal-right">
                <img src="{% static 'img/close.png' %}" alt="close" id="closeRegisterModalBtn" class="close">
                <h3>Регистрация</h3>
                {% if show_register_modal and messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form id="registerForm" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <label for="register-email" class="email">Почта</label>
                    <input type="email" id="register-email" name="email" class="email" required>
                    <label for="register-password" class="password-text">Пароль</label>
                    <input type="password" id="register-password" name="password" class="password" required>
                    <label for="confirm-password" class="password-text">Подтверждение пароля</label>
                    <input type="password" id="confirm-password" name="confirm-password" class="password" required>
                    <button type="submit" id="registerSubmit">Зарегистрироваться</button>
                </form>
                <p class="login-text">У вас уже есть аккаунт?</p>
                <p class="register"><a href="#" id="loginLink">Войти</a></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>