:root {
    --contanier-widh: 1134px;
    --contanier-padding-x: 15px;
}

body {
    box-sizing: border-box;
    background-color: rgba(44, 62, 80, 1);
    margin: 0;
}

.container {
    max-width: calc(var(--contanier-widh) + var(--contanier-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--contanier-padding-x);
}

header {
    height: 108px;
    background-color: rgba(31, 48, 66, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.logo {
    align-items: center;
    text-decoration: none;
    display: flex;
    width: 55px;
    height: 62px;
}

.name {
    margin-right: auto;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40pt;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.profi {
    margin-right: 20px;
}

.profile {
    width: 70px;
    height: 70px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal,
#registerModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    backdrop-filter: blur(0);
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
}

.modal-backdrop.active {
    opacity: 1;
    backdrop-filter: blur(12px);
}

#modal.active,
#registerModal.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: white;
    padding: 0px;
    border-radius: 25px;
    width: 1130px;
    height: 725px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    transform: scale(0.9);
    transition: transform 0.5s ease, opacity 0.3s ease;
}

#modal.active .modal-content,
#registerModal.active .modal-content {
    transform: scale(1);
}

.modal-left {
    width: 450px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.slider-image.active {
    opacity: 1;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.modal-line {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
}

.modal-right {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.close {
    top: 16px;
    right: 16px;
    cursor: pointer;
    position: absolute;
}

h2 {
    margin-bottom: 100px;
    font-size: 40px;
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    text-align: left;
    width: 450px;
    margin-bottom: 5px;
}

.password-text {
    margin-top: 20px;
}

input {
    width: 450px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #F3F4F4;
    border-radius: 10px;
    border: none;
    outline: none;
}

button[type="submit"] {
    width: 376px;
    height: 54px;
    font-size: 32px;
    background-color: #55B2FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

button[type="submitt"] {
    width: 376px;
    height: 54px;
    font-size: 24px;
    background-color: #55B2FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.register-text {
    margin-top: 70px;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}

.login-text {
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}

.email,
.password,
.confirm-password,
.password-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.register {
    text-align: center;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#modal.fadeOut,
#registerModal.fadeOut {
    animation: fadeOut 0.3s ease forwards;
}

#modal.fadeIn,
#registerModal.fadeIn {
    animation: fadeIn 0.3s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

h3 {
    margin-bottom: 45px;
    font-size: 40px;
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


@keyframes fadeInBackdrop {
    from {
        opacity: 0;
        backdrop-filter: blur(0);
    }

    to {
        opacity: 1;
        backdrop-filter: blur(12px);
    }
}

@keyframes fadeOutBackdrop {
    from {
        opacity: 1;
        backdrop-filter: blur(12px);
    }

    to {
        opacity: 0;
        backdrop-filter: blur(0);
    }
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.codeedit {
    width: 500px;
    height: 640px;
}

.code-editor {
    position: fixed;
    top: 120px;
    left: 20px;
    width: 500px;
    height: 640px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    font-size: 16px;
    padding: 0 px;
    overflow: hidden;
}


.visual-editor {
    position: fixed;
    top: 250px;
    right: 380px;
    width: 500px;
    height: 640px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.code-editor {
    top: 250px;
    left: 450px;
}

.code-editor textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: monospace;
    font-size: 14px;
    background-color: transparent;
}

#visual {
    width: 90%;
    height: 90%;
    padding: 5%;
    border-radius: 100px;
    background-color: #fbfbfb;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 14px;
    border-radius: 25px;
}

.menu {
    width: 67px;
    height: 67px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 135px;
}

.tools {
    width: 250px;
    height: 40px;
    border: none;
    background: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 45.2%;
    top: 150px;
}