.code-editor {
    width: 100%;
    height: 30rem;
    border: 0.125rem solid #ffffff;
    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
}

.code-editor-content {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

@media (max-width: 180rem) {
    .code-editor {
        height: 60rem;
    }
}

@media (max-width: 160rem) {
    .code-editor {
        height: 55rem;
    }
}

@media (max-width: 140rem) {
    .code-editor {
        height: 45rem;
    }
}

@media (max-width: 120rem) {
    .code-editor {
        height: 35rem;
    }
}

@media (max-width: 100rem) {
    .code-editor {
        height: 30rem;
    }
}

@media (max-width: 80rem) {
    .code-editor {
        height: 25rem;
    }
}

@media (max-width: 64rem) {
    .code-editor {
        height: 20rem;
    }
}

@media (max-width: 48rem) {
    .code-editor {
        height: 18.75rem;
    }
}