header {
    height: 4.0rem;
    background-color: rgba(31, 48, 66, 1);
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}

.logo {
    align-items: center;
    display: flex;
    width: 3rem;
    height: 3rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.name {
    margin-right: auto;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.profi {
    margin-right: 1.25rem;
}

.profile {
    width: 6rem;
    height: 6rem;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 6rem;
    height: 6rem;
}

@media (max-width: 200rem) {

    header {
        height: 7rem;
        margin-bottom: 2rem;
    }

    .logo img {
        width: 5rem;
        height: 5rem;
    }

    .name {
        font-size: 3rem;
        margin-left: 3rem;
    }

    .profile,
    .profile img {
        width: 5rem;
        height: 5rem;
    }

}

@media (max-width: 150rem) {

    header {
        height: 6rem;
        margin-bottom: 0.2rem;
    }

    .logo img {
        width: 4rem;
        height: 4rem;
    }

    .name {
        font-size: 3rem;
        margin-left: 2rem;
    }

    .profile,
    .profile img {
        width: 4rem;
        height: 4rem;
    }

}

@media (max-width: 100rem) {

    header {
        height: 4.5rem;
    }

    .logo img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .name {
        font-size: 2rem;
        margin-left: 0.6rem;
    }

    .profile,
    .profile img {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (max-width: 48rem) {

    header {
        height: 4rem;
        margin-bottom: 0;
    }

    .logo img {
        width: 3rem;
        height: 3rem;
    }

    .name {
        font-size: 2rem;
        margin-left: 0.5rem;
    }

}

@media (max-width: 30rem) {
    .name {
        font-size: 1.5rem;
    }

    .profile,
    .profile img {
        width: 3rem;
        height: 3rem;
    }

}